* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.logo {
    padding: 5px 0px 4px 0px;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

a {
    text-decoration: none;
    color: grey;

}

.bg-img {
    background-image: url('images/background-layer.png');
    height: 400px;
    text-align: center;
    justify-content: center;
    padding: 100px 0;
}

.bg-img p {
    font-style: italic;
    color: white;
    text-align: center;
    padding-top: 70px;
    padding-right: 80px;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 400;
}

.bg-img a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 15px;
}

a:hover {
    color: black;
}

/*-------------------About Us---------------------*/

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.about-us {
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 20px;
    font-size: x-large;
    color: #139139;
}

.para-about-us {
    text-align: center;
    line-height: 30px;
    margin-bottom: 30px;
    font-size: 12px;
    color: grey;
}

.vnm {
    display: flex;
    justify-content: space-between;
}

.vnm img {
    width: 400px;
    height: 300px;
    margin: 0 100px 10px 100px;
}

.vnm h4,
p {
    margin-left: 100px;
    margin-bottom: 20px;
}

.vnm p {
    font-size: 12px;
    color: grey;
}

/*-------------------Awards---------------------*/

.awards-title {
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 20px;
    font-size: x-large;
    color: #139139;
}

#awards {
    background-color: rgb(240, 240, 240);
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

.awards-no {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.awards-no .award3 {
    padding-bottom: 24px;
}

.award-type {
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
}

.awards-no img {
    height: 200px;
    width: 280px;
}

.awards-no span {
    color: grey;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: normal;
}

/*-------------------Get in touch section---------------------*/

#contact-page {
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
}

.contact-us-title {
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 20px;
    font-size: x-large;
    color: #139139;
}

.titles {
    font-size: larger;
    font-weight: 600;
}

.locations {
    color: grey;
}

.contacts img {
    width: 20px;
    margin-right: 10px;
}

.contacts {
    display: flex;
    justify-content: left;
    align-items: center;
}

.right span {
    color: grey;
    font-size: 12px;
}

.hb-form {
    float: left;
    width: 450px;
}

.right {
    margin-bottom: 20px;
    width: 450px;
    margin-left: 50px;
    float: right;
}

/*-------------------Footer section---------------------*/

#footer {
    display: flex;
    background-color: #139139;
    height: 85px;
    color: white;
    justify-content: center;
}

.copyright {
    font-size: 12px;
    padding-top: 20px;
    padding-right: 300px;
}

.social-media {
    font-size: 20px;
    padding-left: 300px;
    padding-top: 20px;
}

#footer .social-media a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding-top: 15px;
    padding-left: 10px;
}

#footer a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding-top: 15px;
    padding-left: 150px;
}